.main-container {
  background-color: $s-color;
  position: relative;
  width: 80%;
  margin: 20px  auto;
  padding-bottom: 50px;
  box-shadow: 3px 3px 5px 6px $s-color;
  .heading-1 {
    font-size: 40px;
    font-family: "Ubuntu", sans-serif;
  }
  .heading-2 {
    border-top: 2px solid $d-color;
    border-bottom: 2px solid $d-color;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .heading-3 {
    margin-top: 5px;
  }
  .heading-4 {
    font-weight: 600;
  }
  .upper-left {
    padding: 25px;
    display: inline-block;
    width: 39%;
    #medium {
      margin-bottom: 10px;
      font-size: $fs-large;
      font-weight: $fw-ligher;
      color: $p-color;
      font-family: "Ubuntu", sans-serif;
    }
    .key-words {
      font-weight: $fw-dark;
    }
  }
  .upper-mid {
    display: inline-block;
    padding: 25px;
    width: 20%;
    text-align: center;
    img {
      height: 128px;
      width: 128px;
      border-radius: 50%;
    }
  }
  .upper-right {
    position: absolute;
    display: inline-block;
    padding: 25px;
    width: 39%;
    ul {
      list-style: none;
    }
    li {
      display: block;
      text-align: right;
      margin-bottom: 15px;
      font-size: $fs-small;
      font-weight: $fw-dark;
    }
    img {
      width: 21px;
      height: 12px;
      margin-left: 5px;
    }
    a {
      color: $d-color;
    }
  } 
  .percenatge {
    font-size: $fs-small;
    font-style: italic;
    color: $p-color;
  }
  .lighter{
    font-weight: 400;
  }
  a{
    text-decoration: none;
  }
  .achievement {
    color: $p-color;
    font-size: $fs-small;
    font-style: italic;
    margin: 5px 5px;
  }
  .quote {
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
  }
   .margin-bottom{
     margin-bottom: 0px;
   }
  .simple-list {
    list-style: none;
    display: inline;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
  .left-container {
    width: 50%;
    display: inline-block;
    padding: 25px;
    .m-top{
      margin-top: 15px;
    }
    .remark{
      font-size: 14px;
    }
  }
  .right-container {
    position: absolute;
    width: 50%;
    display: inline-block;
    padding: 25px;
  }
  .languages {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 60px;
    span{
      font-size: 12px;
      color: $p-color;
      font-weight: 400;
    }
  }
  .right-language {
    float: right;
  }
  .skills {
    @include list;
    li {
      background-color: $p-color;
      color: $s-color;
    }
  }
  .interest {
    @include list;
    li {
      background-color: $s-color;
      color: $d-color;
      border: 2px solid $p-color;
    }
  }
}
