//   Media Query
@media screen and (max-width: 1200px) {
  .main-container .right-container .languages {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .main-container {
    width: 96%;
    height: max-content;
    .languages {
      margin-left: 0px;
    }
  }
}
@media screen and (max-width: 800px) {
  .main-container {
    padding-bottom: 70px;
    height: max-content;
    .right-container .languages{
     float: none;
    }
    .upper-left .heading-1 {
      font-size: 30px;
    }
    .m-top {
      margin-top: 25px;
    }
    .right-language {
      float: none;
    }
  }
}
@media screen and (max-width: 600px) {
  .main-container {
    padding-bottom: 0px;
    .left-container {
      width: 100%;
      position: static;
      padding-bottom: 0px;
    }
    .right-container {
      width: 100%;
      position: static;
      padding-top: 0px;
    }
    .upper-right {
      width: 100%;
      position: static;
      text-align: center;
      @include list;
      li {
        background-color: $s-color;
        color: $d-color;
        border: 2px solid $p-color;
        cursor: pointer;
      }
    }
    .upper-mid {
      width: 30%;
    }
    .upper-left {
      width: 60%;
    }
  }
}

@media screen and (max-width: 400px) {
  .main-container {
    .upper-mid {
      width: 100%;
    }
    .upper-left {
      width: 100%;
    }
  }
}

// Media querry for printer
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
  }
  a[href]::after {
    content: ":-" attr(href) "";
    color: blue;
  }
  .main-container {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: 1035px;
    .heading-2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    img {
      display: none;
    }
    .right-container {
      position: absolute;
      top: 155px;
      left: 50%;
    }
    .left-container {
      position: relative;
      bottom: 900px;
    }
    .languages {
      margin-right: 0px;
      float: none;
    }
    .skills li {
      border: 1px solid $d-color;
    }
    .upper-left {
      width: 40%;
    }
    .upper-mid {
      width: 0px;
    }
    .upper-right {
      width: 50%;
    }
    .language .right {
      float: none;
    }
    .quote {
      margin-bottom: 5px;
    }
  }
}
