// Importing the font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

// Css reset
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

// variables
$base-color: #a7c0f7;
$height: 64px;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.container {
  margin: 50px 50px;

  .trapizium {
    margin: auto;
    position: relative;
    height: $height;
    background: $base-color;
    margin-bottom: 5px;
    &::before {
      content: "";
      width: 100%;
      position: absolute;
      left: -20px;
      z-index: -1;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: $height solid $base-color;
    }
  }
  #stage-2 {
    max-width: calc(100% - 40px);
  }
  #stage-3 {
    max-width: calc(100% - 80px);
  }
  .left {
    position: absolute;
    left: 12px;
    top: calc(50% - 8px);
    font-size: 16px;
  }
  .right {
    position: absolute;
    right: 12px;
    top: calc(50% - 9px);
    font-size: 18px;
  }
}
