  .logo {
    font-family: "Playfair Display", sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
  }
  .logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
  }
  .scroller {
    height: 2.75rem;
    overflow-y: hidden;
  }
  .scroller .nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  .btn-custom{
    border-radius: 32px;
  }

  /* footter */
  .site-footer{
    background-color: #f9f9f9;
  }